body{
  font-family: "Montserrat";
}
h1{
  font-family: "Montserrat";
  font-weight: 900;
  font-size: 3.5rem;
}
h2{
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 2rem;
}
h3{
  font-family: sans-serif;
  font-weight: 600;
  font-size: 1.6rem;
}
p{
  font-family: sans-serif;
  font-weight: 600;
  font-size: 2rem;
  padding: 3% 20% 3% 20%;
  text-align: justify;
  line-height: 4rem;
}
em{
  font-weight: 500;
}
hr{
  width: 5%;
  border-style: none;
  border-top-style: dotted;
  border-width: 10px;
  border-color: grey;
  margin: 100px auto;
}
.main-heading{
  font-family: "Montserrat";
  font-weight: 900;
  font-size: 3.5rem;
}
.navbar {
  width: 100%;
  padding: 0 0 0px;
  margin-bottom: 120px;
  background-color: black;
  color: white;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2rem;
  font-weight: bold;
  margin-left: 10px;
}

.nav-item {
  padding: 0 18px;
  font-weight: bold;
  font-family: sans-serif;
  color: blue;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat";
  font-weight: 300;
}

.container-fluid{
  padding: 2% 15%;
}
#title{
  background-color: #00a8cc;
  color: black;
  text-align: left;
  padding: 0 15% 7% 15%;
}
.title-image{
  width: 100%;
}

#intro{
  background-color: #84a9ac;
  color: black;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
}
.sign-button{
    margin: 3% 3% 3% 0;
    width: 160px;
    height: 65px;
}
#features{
  background-color: #cae8d5;
  color: black;
  text-align: center;
  padding-top: 7%;
  padding-bottom: 7%;
}
.feature-image{
  width: 12%;
  text-align: center;
  margin-top: 50px;
}
.feature1{
  margin: 100px 0 100px 0;
}

#download{
  text-align: center;
  background-color: #00a8cc;
  color: black;
  padding-top: 100px;
  padding-bottom: 100px;
}
.download-button{
  margin: 5% 3% 5% 0;
}
#about{
  font-family: "Montserrat";
  text-align: center;
  padding: 7% 15%;
  background-color: #3c4245;
  color: white;
}
.about-us{
  text-align: center;
  font-size: 2rem;
}
.about-text{
  text-align: justify;
  font-size: 2rem;
  font-weight: 600;
  line-height: 3.3rem;
}
.about-image{
  width: 20%;
  padding-bottom: 30px;
}

#footer{
  text-align: center;
}
#footer p{
  font-family: sans-serif;
  font-weight: 400;
  text-align: center;
  font-size: 1rem;
}
.end{
  padding-top: 3%;
}

.social-icon{
  padding: 20px;
  font-size: 1.5rem;
}


@media (max-width:911) {

  #title{
    text-align: center;
    padding: 0 0 0 0;
  }
  #features{
    text-align: center;
    text-align: justify;
  }
  p{
    padding: 3% 5% 3% 5%;

}
